<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bỏ qua nếu request trùng với file hoặc thư mục thật
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Còn lại: chuyển vào index.php
    RewriteRule ^ index.php [L]
</IfModule>
